* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: #080808;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.container {
    width: 100%;
    max-width: 500px;
}

.card {
    background: #171717;
    border-radius: 25px;
    padding: 35px 25px;
    text-align: center;

    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.heart {
    font-size: 55px;
    margin-bottom: 10px;
}

h1 {
    font-size: 32px;
    margin-bottom: 12px;
}

.subtitle {
    color: #aaa;
    line-height: 1.6;
    margin-bottom: 25px;
}

.message {
    text-align: left;
    background: #222;
    border-radius: 18px;
    padding: 20px;
    line-height: 1.7;
    color: #ddd;
}

.message p {
    margin-bottom: 15px;
}

.message p:last-child {
    margin-bottom: 0;
}

button {
    margin-top: 25px;
    padding: 13px 28px;

    border: none;
    border-radius: 25px;

    background: #a800ff;
    color: white;

    font-size: 16px;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

#hiddenMessage {
    margin-top: 20px;
    color: #ddd;
    font-size: 17px;
    line-height: 1.5;
}